.header{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;

}

.parallelogramBox{
    width: 85%;
    background-color: #fff;
    display: flex;
    align-items: center;
    .parallelogram{
        width: 15px;
        height: 20px;
        transform: skew(-50deg);
        background-color: #F8D448;
        margin: 0 10px;
        padding-top: 10px;
    }
    .myname{
        color: #263A96;
        font-size: 24px;
        font-weight: bold;

    }
}
