.mainFlex{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    flex-direction: column;
    width: 100%;
    .textAndbox{
        .frontend{
            font-size: 200px;
            font-weight: bold;
            color: #263A96;
            z-index: 2;
            position: relative;
        }
        .box{
            width: 150px;
            height: 250px;
            transform: skew(-40deg);
            background-color: #F8D448;
            z-index: 1;
            position: absolute;
            top: 43%;
            left: 47%;

        }
    }
    .textAndmyname{
        width: 33%;
        background-color: #F8D448;
        .text{
            color: #263A96;
        }
        .myname{
            color: #263A96;
        }
    }
    .test1{
        width: 65%;
        display: flex;
        justify-content: flex-end;

    }
  
    
}