

.sectionBox {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;

    .leftBox {
        width: 40%;
        background-color: #344AB1;
        position: relative;
        padding: 40px;
       
        .textBox {
            width: 66%;
            margin: 0 auto;
            top: 15%;
            position: relative;

            .pjName {
                white-space: nowrap;
                font-size: 100px;
                font-weight: 700;
                color: #F8D448;
                word-break: keep-all;
                z-index: 2;
                position: relative;

            }

            .pjDetail {
                line-height: 2.75rem;
                font-size: 20px;
                word-break: keep-all;
                color: #fff;
                margin: 10% 0 10% 0;


            }

            .pjSkill {
                font-size: 16px;
                color: #fff;

            }

            .gotoProject {
                border: 1px solid #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                width: 12.5rem;
                height: 3.125rem;
                color: #fff;
                margin-top: 20%;
                cursor: pointer;

                &:active {
                    background-color: #F8D448;
                    color: #344AB1;
                }

            }

        }

    }

    .rightBox {
        width: 60%;
        background-color: aquamarine;
        position: relative;
    }
}