.sectionBox {
    background-color: #263A96;
    height: 100vh;

    .skyBox {
        background-color: #344AB1;
        height: 100vh;
        position: absolute;
        width: 60%;
        clip-path: polygon(0% 0%, 100% 0%, 40% 100%, 0% 100%);
        display: flex;
        justify-content: center;


        .flexbox {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            width: 50%;
            margin: 0 auto;
            position: relative;
            right: 7%;
            bottom: 7%;

            .paddingbox {
                padding: 5% 0;

                .h2text {
                    color: #FFFFFF;
                    font-size: 42px;
                }

                .Ptext {
                    color: #FFFFFF;
                    font-size: 20px;

                }

                .pathbox {
                    border: 1px solid #ffffff;
                    color: #ffffff;
                    width: 200px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }


        }
    }

    .blueBox {
        width: 52%;
        height: 100vh;
        float: right;
        position: relative;
        display: flex;
        align-items: center;

        .rightcenterBox {
            width: 100%;
            height: 60%;
            display: flex;

            .leftBox {
                width: 25%;
                .numberBox{
                    position: relative;
                    top: 40%;
                    width: 100%;
                    color: #5A81FA;
                    font-weight: bold;
                    font-size: 24px;
                    &::after{
                        content: '';
                        position: absolute;
                        left: 30%;
                        top: 50%;
                        width: 50%;
                        background-color: #5A81FA;
                        height: 1px;

                    }
                }
                .nameBox{
                    position: relative;
                    width: 100%;
                    color: #F8D448;
                    font-size: 60px;
                    top: 60%;
                    font-weight: bold;
                    font-style: italic;
                    z-index: 2;
                }
                .skillBox{
                    position: relative;
                    width: 100%;
                    color: #ffffff;
                    top: 65%;
                    font-size: 20px;
                    font-style: italic;

                }

            }

            .rightBox {
                width: 100%;
                position: relative;
                overflow: hidden;
                top: 15%;
                
            }

        }
    }
}