.sectionBox {
    width: 100%;
    .h2Box {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        padding-top: 10%;
        padding-bottom: 15%;

        .h2text {
            position: absolute;
            color: #263A96;
            font-size: 44px;
            font-weight: bold;
            z-index: 1;
            &::after{
                position: absolute;
                top: 50%;
                content: '';
                display: block;
                width: 100%;
                height: 50%;
                background-color: #F8D448;
                z-index: -1;
            }
        }
    }
    .skillBox{
        max-width: 77%;
        position: relative;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 7px;
        .skill{
            background-color: #F7F8FC;
            width: 20%;
            position: relative;
            border-radius: 20px;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
            margin-bottom: 10%;
            padding: 20px;
            .imgBox{
                position: absolute;
                width: 6.25rem;
                height: 6.25rem;
                left: 50%;
                transform: translate(-50%,-70%);
                background-color: #F7F8FC;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
            padding: 10px;

                img{
                width: 100%;   
                max-height: 100%;
                object-fit: contain;
                }
            }
        
            .textBox{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                width: 80%;
                h3{
                    color: #263A96;
                    font-size: 24px;
                    padding: 30% 0;
                }
                .text{
                    color: #263A96;
                    font-size: 16px;
                    padding-bottom: 40px;

                }
                

            }
        }
    }

    .otherskillsBox{
        display: flex;
        max-width: 77%;
        height: 500px;
        background-color: burlywood;
        margin: 0 auto;
        top: 25%;
        position: relative;
        border-radius: 20px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        .otherImgText{
            
        }
    }
}
